
  <h1>Edit your recipe</h1>
  <h1><%= @recipe.name%></h1>
  <form action= "/recipes/<%= @recipe.id %>"  method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" placeholder="edit name" name="name" value="<%= @recipe.name %>" >
  <h2>Ingredients</h2>
  <ul>
    <li><%= @recipe.ingredients%></li>
  </ul>
  <input type="text" placeholder="edit ingredients" name="ingredients"  value="<%= @recipe.ingredients %>">
  <h2><%= @recipe.cook_time %></h2>
  <input type="text" placeholder="edit cook_time" name="cook_time" value="<%= @recipe.cook_time %>">
  <input type="submit" value="submit">
</form>
